.main{
    width: 1400px;
    height: 500px;
    background-color: #fff;
}
.focus{
    float: left;
    width: 1200px;
    height: 450px;
    background-color: azure;
}
.newsflash{
    float: right;
    width: 200px;
    height: 450px;
    background-color: darkkhaki;
}